<html>
    <head>
       <title>Registration Form</title>
          {% load staticfiles %}
            <link rel="stylesheet" href="{% static 'app_reglogin/stylesheets/loginregstyle.css' %}">
   
    </head>
    <body>
        <div id="error">
      {% for user in users %}
            {{user.first_name}},{{user.last_name}},{{user.emailid}},{{user.password}},{{user.id}}
        {% endfor %}
        
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
             
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        </div>
        <h1>Welcome!</p>
      <h1>Registration </h1>

        <div id="reg">
        <form action="{% url 'users:my_register'%}" method ="post">
        {% csrf_token %}
        <p>
        <label for="first_name">Name:</label>
        
        <input type="text" id ="name" name="name">
        </p>
        <p>
        <label for="last_name">Username:</label>
        <input type="text" id ="username" name="username">
        </p>
        <p>
        <label for="password">Password:</label>
        <input type="password" id ="password" name="password">
        </p>
        <p>
        <label for="confirmpassword">Confirm PW:</label>
        <input type="password" id ="confirmpassword" name="confirmpassword">
        </p><p>
        <input type = "hidden" name = "action" value="Register">
        <input id="submits" type="submit" value="Register">
        </form>
        </div>
        <div id="login">
        <h1> Login </h1>
        <form action="{% url 'users:my_loginuser'%}"  method ="post">
        {% csrf_token %}
            <p>
            <label for="username">Username:</label>
            <input type="text" id ="username" name="username"
            </p><p>
            <label for="password">Password:</label>
            <input type="password" id ="password" name="password"
            </p><p>
            <input type = "hidden" name = "action" value="Login">
            <input id="submits"   type="submit" value="Login">
            </p>
        </form>
        </div>


    </body>
</html>
